@{ViewBag.Title = "Home Page";}

 <div class="jumbotron" >
    <img src="~/Images/Logo2.jpg" class="img-responsive" alt="Cinque Terre" />
 </div>
   
<img src="~/Images/machine.png" align="right" class="img-responsive" alt="Cinque Terre" style="margin: 0 100px 0 10px" height="270" width="270" />
<img src="/Images/VxtWFc.gif" align="right" class="img-responsive" alt="Cinque Terre" style="margin: 73px -248px 0 10px;height: 200px;width: 200px;" height="270" width="270">

    
<div>
    <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapse" aria-expanded="false" aria-controls="collapse"> Syfte</a>
    <div class="collapse" id="collapse">
        <div class="well">
            <ul>
                <li> <p> Samla alla automater som är tillgängliga för uthyrning under samma tak och på så sätt få bättre koll på priser och utbud.</p> </li>
                <li> <p> Underlätta för kunder att finna de  maskiner de är ute efter. </p></li>
                <li> <p> Billigare för kund att hyra.</p></li>
            </ul>
        </div>
    </div>
</div><!--  -->
<br />
<div>
    <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
        Målgrupper
    </a>
    <div class="collapse" id="collapse2">
        <div class="well">
            <ul>
                <li> <p> Eventföretag    </p> </li>
                <li> <p> Festarrangörer  </p></li>
                <li> <p> Privatpersoner </p></li>
                <li> <p> Utställare </p></li>
                <li> <p> Nöjesparker </p></li>
                <li> <p> Spelhallar </p></li>
                <li> <p> Pub/Restaurang </p></li>
                <li> <p> Föreningar </p></li>
                <li> <p> Campingar </p></li>
                <li> <p> Kontorsföretag </p></li>
            </ul>
        </div>
    </div>
</div>
<br />
<div>
    <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseMal" aria-expanded="false" aria-controls="collapseMal">
        Mål
    </a>
    <div class="collapse" id="collapseMal">
        <div class="well">
            <ul>
                <li> <p> Kunna erbjuda tjänster/produkter utöver sitt egna utbud. Bredda sortimentet och kundbasen.    </p> </li>
                <li> <p> Kunna erbjuda pausaktivitet till personal på arbetsplats.  </p></li>
                <li> <p> Få bättre exponering och beläggning på sina automater. </p></li>

                <li> <p> Kontorsföretag </p></li>
            </ul>
        </div>
    </div>
</div>
<br />
<div>
<a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseDia" aria-expanded="false" aria-controls="collapseDia"> Diagram </a>
    <div class="collapse" id="collapseDia">
        <div class="well">
            <!--<img src="~/Images/diagram.jpg" />-->
            <img src="~/Images/diagram1trans.png" width="750" />
        </div>
    </div>
</div>
 <br />
<div>
    <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseDia2" aria-expanded="false" aria-controls="collapseDia2"> Diagram </a>
    <div class="collapse" id="collapseDia2">
        <div class="well">
            <img src="~/Images/digram2.jpg" width="750" />
        </div>
    </div>
</div>
        