@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Arcade Pool</h1>
    <p class="lead">Welcome to Arcade Pool the site where you can rent or hire arcade games .</p>
  
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            
        </p>
  
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
            </div>
</div>